@model IEnumerable<CmsShop.Models.ViewModels.Shop.ProductVM>

@{
    ViewBag.Title = "Produkty";
}
@using PagedList.Mvc;
@using PagedList;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<h2>Produkty</h2>
<select id="SelectCategory" name="SelectedCategory">
    <option value="0">Wszystkie</option>
    @foreach (var item in ViewBag.Categories)
    {
        if (ViewBag.SelectCat == item.Value)
        {
            <option selected="selected" value="@item.Value">@item.Text</option>
        }
        else
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
</select>
<br /><br />



<p>
    @Html.ActionLink("Dodaj nowy produkt", "AddProduct")
</p>
<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Opis
        </th>
        <th>
            Cena
        </th>
        <th>
            Zdjęcie
        </th>
        <th></th>
    </tr>
    @foreach (var product in ViewBag.OnePageOfProducts)
    {
        <tr>
            <td>
                @product.Name
            </td>
            <td>
                @product.Description
            </td>
            <td>
                @product.Prize
            </td>
            <td>
                <a href="/Admin/Shop/EditProduct/@product.Id">
                    <img src="/Images/Uploads/Products/@product.Id/Thumbs/@product.ImageName" />
                </a>
            </td>
            <td>
                @Html.ActionLink("Edycja", "EditProduct", new { id = product.Id }) |
                @Html.ActionLink("Usuń", "DeleteProduct", new { id = product.Id })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Products", new { page, catId = ViewBag.SelectCat }))

@section scripts{

    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>

        /*Filtrowanie do wybranej kategorii*/

        $("#SelectCategory").on("change", function () {
            var url = $(this).val();

            if (url) {
                window.location = "/admin/shop/Products?catId=" + url;
            }
            return false;
        });

    </script>
}